@import url('https://fonts.googleapis.com/css?family=Exo+2|Yatra+One');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

body{
  background: black;
}

.wrapper{
  margin-top: 60px;
  text-align: center;
  
  
  
}

.wrapper h1{
  font-family: Impact,;
  font-size: 48px;
  color: #ffff;
  margin-bottom: 25px;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  
  
  

}

.our_team .team_member{
  width: 250px;
  margin: 5px;
  background: #fff;
  padding: 20px 10px;
  border-radius: 20px;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 .2rem #bc13fe,
              0 0 0.2rem #bc13fe,
              0 0 .2rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
    
  
  
}
.our_team .team_member:hover{box-shadow: inset 0 0 10px #bc13fe, 0 0 20px #bc13fe inset, 0 0 20px #bc13fe inset;
}



.our_team .team_member .member_img{
  background: #e9e5fa;  
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
  
}

.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
  border-radius: 200px;
}

.our_team .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}

.our_team .team_member span{
  font-size: 10px;
}

.our_team .team_member p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
}

.our_team .team_member .member_img .social_media .fab{
  color: #8c7ae6;
  font-size: 20px;
}

.our_team .team_member .member_img:hover .social_media{
  transform: scale(1);
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

.hero {
  background-color: #0040C1;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family:'Montserrat', sans-serif;
}



.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px darken(#0040C1, 8%);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
  
  &:nth-child(2n) {
    border-color: lighten(#0040C1, 10%);
  }
  
  &:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  
  &:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  
  &:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  
  &:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  
  &:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);   
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%); 
    opacity: 0;
  }
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600')

.more-pens{

}
  position: fixed
  left: 20px
  bottom: 20px
  z-index: 10
  font-family: "Montserrat"
  font-size: 12px

a.white-mode, a.white-mode:link, a.white-mode:visited, a.white-mode:active
  font-family: "Montserrat"
  font-size: 12px
  text-decoration: none
  background: #212121
  padding: 4px 8px
  color: #f7f7f7
  &:hover
    background: #edf3f8
    color: #212121

body
  margin: 0
  padding: 0
  overflow: hidden
  
.background
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: #edf3f8
  background: -moz-radial-gradient(center, ellipse cover, #edf3f8 1%, #dee3e8 100%)
  background: -webkit-radial-gradient(center, ellipse cover, #edf3f8 1%,#dee3e8 100%)
  background: radial-gradient(ellipse at center, #edf3f8 1%,#dee3e8 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf3f8', endColorstr='#dee3e8',GradientType=1 )
  
.title
  z-index: 10
  position: absolute
  left: 50%
  top: 40%
  transform: translateX(-50%) translateY(-50%)
  font-family: "Montserrat"
  text-align: center
  width: 60%
  h1
    position: relative
    color: #000000
    font-weight: 300
    font-size: 46px
    padding: 0
    margin: 0
    line-height: 1
  h2
    font-weight: 600
    font-size: 60px
    padding: 0
    margin: 0
    line-height: 1
  h3
    font-weight: 200
    font-size: 20px
    padding: 0
    margin: 0
    line-height: 2
    color: #5e7283
    letter-spacing: 2px

  p
    font-weight: 200
    font-size: 16px
    color: #5e7283
    
.pentahedron
  position: absolute
  width: 100%
  height: 100%
  fill: #3E82F7
.point
  fill: #8491A3
.rhombus
  fill: #2DA94F
  stroke: #2DA94F
  
.x
  fill: #FDBD00

.circle
  fill: #ED412D
  
svg
  display: block
  width: 30px
  height: 30px
  position: absolute
  transform: translateZ(0px)